@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-center-column {
    @apply flex flex-col items-center justify-center;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #f68e0f;
  max-width: 100%;
  overflow-x: hidden;
  white-space: pre-wrap;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.swiper {
  width: 100%;
  max-height: 100vh;
}

.swiper {
  max-height: 100vh;
}

.text-shadow {
  text-shadow: 4px 4px 4px rgba(211, 76, 0, 0.25);
}
