@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #f68e0f;
  max-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.swiper-mobile {
  width: 100%;
  max-height: 100vh;
}

.swiper-slide-mobile {
  max-height: 100vh;
}
